@font-face {
    font-family: opensans-regular;
    src: url(../fonts/opensans-regular.ttf);
}
@font-face {
    font-family: opensans-semibold;
    src: url(../fonts/opensans-semibold.ttf);
}
@font-face {
    font-family: sourcesans-pro-regular;
    src: url(../fonts/sourcesans-pro-regular.ttf);
}
@font-face {
    font-family: sourcesans-pro-semibold;
    src: url(../fonts/sourcesans-pro-semibold.ttf);
}
@font-face {
    font-family: manjari-regular;
    src: url(../fonts/manjari-regular.ttf);
}